.banner{
    position: relative;
    display: flex;
    background: linear-gradient(100.65deg, var(--primary-color-light) 2.45%, var(--primary-color) 95.93%);
    min-height: 90vh;
    overflow: hidden;
}
.bannerContent{
    width: min(90%, 710px);
    margin: 0 auto;
}

.column{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content:center;
    max-width: 100%;
}

.row{
    display: flex;
    width: fit-content;
    align-content: space-between;
    margin-bottom: 1rem;
}
.name{
    color:var(--text-color);
    font-family: "Bebas Neue";
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 58px;
text-transform: uppercase;
margin: 0;
}
.job{
    color:var(--text-color);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}
.salut{
    color:var(--text-color);
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}
.description{
    font-size: 14px;
line-height: 18px;
display: flex;
align-items: center;
color: rgba(1, 38, 61, 0.74);
    margin: .5rem 0;
    z-index: 1;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    margin: 1rem 0;
    border-radius: 50px;
    color: white;
    font-weight: bold;
}
.btnCV{
    background-color: #059DF2;
    margin-right: 1rem;
}
.btnContact{
    border: 3px solid #059DF2;
    color:var(--text-color);
}

.btnCV:hover{
    background-color: #0582ca;
    margin-right: 1rem;
    cursor: pointer;
}
.btnContact:hover{
    border: 3px solid #0582ca;
    cursor: pointer;
}

.my3dContainer{
    display: none;
    
}

/*Desktop CSS*/
@media (min-width: 426px) {
    .column{
        max-width: 50%;
    }
    
    
    
    .my3dContainer{
        position: absolute;
        display: flex;
        bottom: 0;
        right: 0;
        margin-right: 2rem;
        width: 55%;
        height: 100%;
        background-repeat: no-repeat;
    }

    
}