@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
  --primary-color: #F27405;
  --secondary-color: #1D3557;
  --background-gray: #EBEAEA;

  --text-color: #01263D;
  --text-color-blue-Light: rgba(29, 53, 87, 0.8);
  --text-color-orange: #F27405;
  --text-color-light: #F0F0F0;
  
  --pane-padding: 5px 42px;

  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 900;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Code Pro', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: min(100vw,710px);
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fullWidth {
  min-width: 100%;
  margin: 0;
  padding: 0;
}

*::selection{
  background: var(--primary-color);
  color: var(--text-color-light);
}